.add__place {
	
	.form__add__place {
		max-width: 600px;
		margin: 0 auto;
		background-color: $yellow;
		padding: 2rem 3rem;
	}

	.card__actions {
		display: flex;
		justify-content: space-between;
		padding-top: 4rem;
	}

}