.add__place {
	.form__add__place {
		max-width: 600px;
		margin: 0 auto;
		background-color: $yellow;
		padding: 2rem 3rem;
	}

	.card__actions {
		padding-top: 2rem;

		@media (min-width: $medium__large) {
			display: flex;
			justify-content: space-between;
			padding-top: 4rem;
		}

		.button {
			width: 100%;

			@media (min-width: $medium__large) {
				width: auto;
			}
		}

		.button:last-of-type {
			margin-top: 1rem;

			@media (min-width: $medium__large) {
				margin-top: 0;
			}
		}
	}
}
