.container__tags {
	padding: 14px 20px;

	.tags {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.tag {
		margin: 0.5rem;
		padding: 0;
	}

	.tag__link {
		display: inline-block;
		border: 2px solid $black;
		padding: 1rem 2rem;
		font-size: 2rem;
		background-color: $black;
		color: $white;
	}

	.tag__link--active {
		border: 2px solid $black;
		background-color: $white;
		color: $black;
	}

	.container__places {
		margin-top: 2rem;
	}

}