/* layout */

$medium: 640px;
$medium__large: 768px;
$large: 1024px;
$large__xlarge: 1280px;
$xlarge: 1440px;
$xxlarge: 1920px;

$spacing: 1rem;

/* colors */

$black: #222222;
$blue: #035388;
$blue_dark: darken($blue, 10%);
$gray: #CBD2D9;
$gray_middle: #9AA5B1;
$gray_dark: #52606D;
$gray_light: #E4E7EB;
$red: #CF1124;
$white: #FFFFFF;
$yellow: #FADB5F;