.page__visits {
	.container__sort {
		margin-bottom: 1rem;

		@media (min-width: $medium__large) {
			margin-bottom: 0;
			margin-right: 1rem;
		}
	}

	.container__place {
		@media (min-width: $medium__large) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.card__visit {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		padding: 1rem 2rem;
		box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);

		@media (min-width: $medium__large) {
			margin-right: 2rem;
			max-width: 200px;
			min-width: 200px;
		}

		p {
			margin: 0;
			font-size: 1.4rem;
		}

		h5 span {
			font-weight: normal;
		}

		.icon__edit--trigger {
			display: inline-block;
			margin-bottom: 0.5rem;
		}

		.icon__edit {
			width: 30px;
		}

		.icon__delete {
			width: 24px;
		}

		.card__actions,
		.card__visit--date {
			text-align: center;
		}

		.card__actions:last-child {
			margin-top: auto;
		}

		.card__visit--rating,
		.card__visit--cost,
		.card__visit--comment {
			margin-top: 2rem;
		}

		.card__visit--comment {
			margin-bottom: 2rem;
		}

		button.delete {
			border: none;
			padding: 0;
			background-color: transparent;
		}
	}
}
