extends ../layout

//- include ../mixins/card-place-add

block content
	.hero.icon__pattern--places
		.hero__content
			.padded-multiline
				h1.title
					span.twist.twist--left #{pageTitle}
	.container__place
		form(action="/places/add-place" method="POST" class="card__name" enctype="multipart/form-data")
			//- image upload
			input(type="file" name="img" class="form__input form__input--image" accept="image/gif, image/png, image/jpeg")
			input(type="text" name="name" class="form__input form__input--name")
			select(name="category[name]" class="form__input form__input--category")
				option(value="") - Category -
				option(value="Entertain Us") Entertain Us
				option(value="Fuel Me") Fuel Me
				option(value="Hike It") Hike It
				option(value="On The Slopes") On The Slopes
				option(value="Shopping Bags") Shopping Bags
				option(value="Thirst Quenching") Thirst Quenching
			textarea(rows="1" name="address" class="form__input form__input--address")
			input(name="distance" class="form__input form__input--address")
			textarea(rows="1" name="tags" class="form__input form__input--tag")
			.card__actions
				a(href=`/places` class="button button--cancel") Cancel
				button(class="button button--save") Save
		.ajax__response
			.response__message

