extends ../layout

//- include ../mixins/card-place-add

block content
	.hero.icon__pattern--places
		.hero__content
			.padded-multiline
				h1.title
					span.twist.twist--left #{pageTitle}
	.add__place.wrapper__content
		form(action="/places/add-place" method="POST" class="form__add__place" enctype="multipart/form-data")
			label(for="name") Name
			input(type="text" name="name" id="name" class="form__input form__input--name")
			label(for="category") Category
			select(name="category[name]" id="category" class="form__input form__input--category")
				option(value="") - Category -
				option(value="Entertain Us") Entertain Us
				option(value="Fuel Me") Fuel Me
				option(value="Hike It") Hike It
				option(value="On The Slopes") On The Slopes
				option(value="Shopping Bags") Shopping Bags
				option(value="Thirst Quenching") Thirst Quenching
			label(for="address") Address
			textarea(rows="1" name="address" id="address" class="form__input form__input--address")
			label(for="distance") Distance
			input(name="distance" id="distance" class="form__input form__input--address")
			label(for="tags") Tags
			textarea(rows="1" name="tags" id="tags" class="form__input form__input--tag")
			.form__input--image-wrapper
				//- image upload
				label(for="img" class="form__input--image-button") Choose Image
				input(type="file" name="img" id="img" class="form__input form__input--image" accept="image/gif, image/png, image/jpeg")
			.form__image--container
				label(class="form__image--preview") Image Preview
				img.image__preview
			.card__actions
				a(href=`/places` class="button button--cancel") Cancel
				button(class="button button--save") Save
		.ajax__response
			.response__message

