extends ../layout

include ../mixins/search
include ../mixins/card-category

block content
	.hero.icon__pattern--places
		.hero__content
			.padded-multiline
				h1.title
					span.twist.twist--left #{pageTitle}
	.container__actions.wrapper__content
		if user
			a(href="/places/add-place" class="button") Add Place
		.container__search
			+search()
	.places.wrapper__content
		each place, i in places
			+card-category(place, i)
		

