extends ../layout

include ../mixins/card-category

block content
	.hero
		.hero__bg.hero__bg--home
			h1 Places
	.container__actions
		a(href="/categories" class="button") View Categories
		a(href="/tags" class="button") View Tags
		if user
			a(href="/places/add-place" class="button") Add Place
	.places
		each place, i in places
			+card-category(place, i)
		

