extends ../layout

include ../mixins/search
include ../mixins/card-category
include ../mixins/pagination

block content
	.hero.icon__pattern--places
		.hero__content
			.padded-multiline
				h1.title
					span.twist.twist--left #{pageTitle}
	.container__actions.wrapper__content
		if user
			a(href="/places/add-place" class="button") Add Place
		.container__sort
			form#js-sort-places.sort__places
				select(name="sort")
					option(value="") Sort 
					option(value="cost-asc") Cost (low-high)
					option(value="cost-desc") Cost (high-low)
					option(value="rating-asc") Rating (low-high)
					option(value="rating-desc") Rating (high-low)
					option(value="visits-asc") Visits (low-high)
					option(value="visits-desc") Visits (high-low)
					option(value="distance-asc") Miles (low-high)
					option(value="distance-desc") Miles (high-low)
		.container__search
			+search()
	.places.wrapper__content
		each place, i in places
			+card-category(place, i)
	+pagination(page, pages, count, paginationLinkUrl)
		

