extends email-layout

block content
  h2 Welcome to <strong>We Do Denver</strong>
  p Now you have a place where you can keep track of all of the fun things you do in the Mile High City.
  br
  p We Hope Your Excited #{user.name}!
