extends email-layout

block content
  h2 We Hope Your Excited!
  p Now you have a place where you can keep track of all of the fun things you do in the Mile High City.
  br
  p Welcome to We Do Denver #{user.name}.
