extends layout

block content
	.hero.icon__pattern--home
		.hero__content
			.padded-multiline 
				h1.title
					span.twist.twist--left We 
					span.twist.twist--right Do 
					span.twist.twist--left Denver
			a.button.button-cta(href="/places") Discover