extends ../layout

block content
	.container__account
		h1 #{pageTitle}
		form(action="/account" method="POST")
			label(for="name") Name
			input(type="text" name="name" value=user.name)
			label(for="email") Email
			input(type="email" name="email" id="email" value=user.email)
			input(type="submit" value="Update Account")
