extends ../layout

block content
	.container__password-forgot
		h1 #{pageTitle}
		form(action="/forgot-password" method="POST")
			label(for="email") Email
			input(type="email" name="email" id="email")
			input(type="submit" value="Send a Reset")
