extends ../layout

block content
	.hero
		.hero__bg.hero__bg--home
			h1 #{pageTitle}
	.container__actions
		a(href="/" class="button") Home
	.container__account
		form(action="/forgot-password" method="POST")
			label(for="email") Email
			input(type="email" name="email" id="email")
			input(type="submit" value="Send a Reset")
