extends ../layout

block content
	.hero
		.hero__bg.hero__bg--home
			h1 #{pageTitle}
	.container__actions
		a(href="/" class="button") Home
	.container__account
		form(method="POST")
			label(for="password") Password
			input(type="password" name="password" id="password")
			label(for="password-confirm") Confirm Password
			input(type="password" name="password-confirm" id="password-confirm")
			input(type="submit" value="Reset")
