extends ../layout

include ../mixins/card-visit-add

block content
	.hero.icon__pattern--visits
		.hero__content
			.padded-multiline
				h1.title
					span.twist.twist--left #{pageTitle}
	.container__place.wrapper__content
		+card-visit-add(place)
