extends ../layout

include ../mixins/card-single

block content
	.hero
		.hero__bg.hero__bg--home
			h1 #{place.name}
			a(href="/places" class="button button__visit--back") Places
	.container__place
		+card-single(place)
		
