extends ../layout

include ../mixins/card-single

block content
	.hero
		.hero__bg.hero__bg--home
			h1 #{place.name}
	.container__actions
		a(href="/places" class="button button__visit--back") Back to Places
		a(href=`/place/${place._id}/add-visit` class="button button__visit--add") Add Visit
	.container__place
		+card-single(place)
		
