extends ../layout

include ../mixins/card-visit-edit

block content
	//- pre= h.dump(place)
	//- pre= h.dump(visit)
	.hero
		.hero__bg.hero__bg--home
			h1 Visit: #{pageTitle}
	.container__place
		+card-visit-edit(place, visit)
