extends ../layout

include ../mixins/card-visit-edit

block content
	//- pre= h.dump(place)
	//- pre= h.dump(visit)
	.hero.icon__pattern--places
		.hero__content
			.padded-multiline
				h1.title
					span.twist.twist--left
						h1 
							span Edit Visit: 
							| #{pageTitle}
			//- h1 Visit: #{pageTitle}
	.container__place
		+card-visit-edit(place, visit)
