extends ../layout

block content
	.hero.icon__pattern--categories
		.hero__content
			.padded-multiline
				h1.title
					span.twist.twist--left #{pageTitle}
	.container__actions
		a(href="/places" class="button button__visit--back") View Places
	.categories
		each place, i in places
			a(href=`/places/${place.category.slug}` class=`category category--${i+1}`)
				.category__icon
					img(src="http://via.placeholder.com/350x200?text=icon" alt="")
				.category__name
					h2 #{place.category.name}
		

