extends ../layout

include ../mixins/card-category

block content
	//- pre= h.dump(tags)
	//- pre= h.dump(tag)
	.hero.icon__pattern--tags
		.hero__content
			.padded-multiline
				h1.title
					span.twist.twist--left #{pageTitle}
	.container__actions.wrapper__content
		a(href="/places" class="button button__visit--places") View Places
		a(href="/categories" class="button button__visit--categories") View Categories
	.container__tags
		ul.tags
			each t in tags
				li.tag
					a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
						span.tag__text= t._id
						span.tag__count= t.count
	.container__places
		each place in places
			+card-category(place)
		
