header.header__main {
	display: flex;
	justify-content: space-between;
	background-color: $black;
	
	a,
	.divider {
		color: $white;
	}

	.divider {
		margin-left: 6px;
		margin-right: 6px;
	}

	.avatar {
		width: 40px;
	}

	nav.main {
		display: flex;
		align-items: center;

		.link,
		.divider {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.5rem;
		}
	}

	.authenticate {
		display: flex;
		align-items: center;

		.link,
		.divider {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.5rem;
		}

	}

}