.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center center;
	min-height: calc(100vh - 49px); // minus header

	// @media only screen and (min-width: $medium) {
	// 	min-height: 320px;
	// }
	
	// @media only screen and (min-width: $large) {
	// 	min-height: 360px;
	// }

	// @media only screen and (min-width: $xlarge) {
	// 	min-height: 400px;
	// }

	.hero__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.padded-multiline { 
		line-height: 1.3; 
		padding: 2px 0; 
		margin: 0 auto 40px;
	}

	.title {
		padding: 4px;
		color: $white; 
		display: inline;
		margin: 0;

		.twist {
			display: inline-block;
			margin: 4px 8px;
			padding: 4px 6px;
			background-color: $black;
		}

		.twist--left {
			transform: rotate(-3deg);
		}

		.twist--right {
			transform: rotate(3deg);
		}

	}

}
