.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 82px); // minus header

	@media (min-width: $medium__large) {
		min-height: calc(100vh - 49px); // minus header
	}

	@media (min-width: $large) {
		min-height: calc(100vh - 53px); // minus header
	}

	.hero__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero__places {
		margin-top: 20px;
	}

	.padded-multiline { 
		line-height: 1.3; 
		padding: 2px 0; 
		margin: 0 auto 40px;
	}

	.title {
		display: inline;
		margin: 0;
		color: $white; 

		@media (min-width: $medium__large) {
			padding: 4px;
		}

		.twist {
			display: inline-block;
			margin: 4px 8px;
			padding: 4px 6px;
			background-color: $black;

			h1 span {
				display: block;
			}

		}

		.twist--left {
			@media (min-width: $medium__large) {
				transform: rotate(-3deg);
			}
		}

		.twist--right {
			@media (min-width: $medium__large) {
				transform: rotate(3deg);
			}
		}

	}

}
